CT.UI/Service References/SimulatorServiceReference/SimService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4767/Services/SimService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" />
  <xs:import schemaLocation="http://localhost:4767/Services/SimService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CT.Common.DTO_Models" />
  <xs:element name="InitializeSimulator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" minOccurs="0" name="req" nillable="true" type="q1:RequestInitializeSimulator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeSimulatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" minOccurs="0" name="InitializeSimulatorResult" nillable="true" type="q2:ResponseInitializeSimulator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightsCollection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightsCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" minOccurs="0" name="GetFlightsCollectionResult" nillable="true" type="q3:ResponseFlightsCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFlightObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" minOccurs="0" name="req" nillable="true" type="q4:RequestFlightObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFlightObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" minOccurs="0" name="CreateFlightObjectResult" nillable="true" type="q5:ResponseFlightObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" minOccurs="0" name="req" nillable="true" type="q6:RequestFlightPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" minOccurs="0" name="GetFlightPositionResult" nillable="true" type="q7:ResponseFlightPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckpointDuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" minOccurs="0" name="req" nillable="true" type="q8:RequestCheckpointDuration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckpointDurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" minOccurs="0" name="GetCheckpointDurationResult" nillable="true" type="q9:ResponseCheckpointDuration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisposeFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" minOccurs="0" name="req" nillable="true" type="q10:RequestDisposeFlight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisposeFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CT.Contracts.SimDataContracts" minOccurs="0" name="DisposeFlightResult" nillable="true" type="q11:ResponseDisposeFlight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightSerial" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CT.Common.DTO_Models" minOccurs="0" name="GetFlightResult" nillable="true" type="q12:FlightDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeDatabase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeDatabaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnLoad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isLoaded" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnLoadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPromotion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightSerial" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPromotionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDispose">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightSerial" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnDisposeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>